@import "tailwindcss";

body {
  font-family: "poppins", sans-serif;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #1e3c72, #2a5298)
  }
}

html{
  scroll-behavior: smooth;
}
